.cercle{
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: 2px solid rgb(227, 222, 222);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.container{
    display: flex;
    height: 50px;
    align-items: center;
    width: 50vw;
    justify-content: center;
    margin: auto;
}

.barre{
    height: 2px;
    width: 50px;
    background-color: #d2c8c8;
}
.c1{
    border-color: #60b7e6;
}

.control{
    gap: 3px;
}
button{
    border: 1px;
    border-radius: 2px;
}

button:active{background: #60b7e6;
    border: 0px;
    
}
button:focus{background: #60b7e6;
   

}

.grow{
    animation: grow 2s infinite ease-in;
    background-color: #60b7e6;
    background-size: 0%;
}


@keyframes grow {
    0%{
       
        background-size:0px ;

}

100%{
    
    background-size: cover;
}
}